* {
  box-sizing: border-box;
}

.main {
  width: 50%;
  margin: 10px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: -10px 0px 13px -7px #8C8C8C,
    10px 0px 13px -7px #8C8C8C,
    2px 1px 8px -1px rgba(0, 0, 0, 0);
  box-shadow:
    -10px 0px 13px -7px #8C8C8C,
    10px 0px 13px -7px #8C8C8C,
    2px 1px 8px -1px rgba(0, 0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f9f9f9;
  font-size: 14px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #E3E3E3;
}

ul li span {
  font-size: 18px;
  font-weight: bold;
  color: #8C7D76;
}


ul li.checked {
  background: #bbb;
  color: #fff;
  text-decoration: line-through;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.header {
  background-color: #8C7D76;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.headert-list {
  font-style: italic;
  color: gray;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.check-box {
  width: 5%;
  margin-top: 2px;
}

.edit {
  float: initial;
  padding: 5px 10px;
  width: 50%;
  border: 2px solid #E3E3E3;
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  font-size: 12px;
  color: #8C7D76;
  margin-top: 8px;
}

.text-center {
  text-align: center;
}

.main-info {
  width: 49%;
  background-color: #E3E3E3;
  border: 1px solid rgb(192, 187, 187);
  margin: 0 auto;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #555;
}

.main-info div {
  margin: 0 15px 0 15px;
}

.btn-clear-complated {
  border: 1px solid rgb(192, 187, 187);
  background-color: #D4D4D4;
  padding: 1px 3px;
  border-radius: 2px;
  cursor: pointer;
}

.filter-todo {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.filter-todo-active {
  font-weight: bold;
}